@using Entities.Concrete
@model Message2

@{
    ViewData["Title"] = "SendMessage";
    Layout = "~Views/Shared/WriterLayout.cshtml";
}

<h1>New Message</h1>
<br />
@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
    @Html.Label("Receiver")

    @*using DropDownList to choose Receiver  *@
    @Html.DropDownListFor(x => x.ReceiverID, (IEnumerable<SelectListItem>)ViewBag.Users, "Select Receiver", new { @class = "form-control" })

    <br />
    @Html.Label("Subject")
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br />
    @Html.Label("Message")
    @Html.TextAreaFor(x => x.Details, 15, 3, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Send Message</button>
}
